<section class="page-header">
  <p align="center"><img src="http://i.imgur.com/s5aFdGE.png"></p>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://eyeshadow2600fm.bandcamp.com" class="btn" target="_blank">Bandcamp</a>
  <a href="https://twitter.com/MerylSKavanagh" class="btn" target="_blank">Twitter</a>
  <a href="https://mastodon.starrevolution.org/@msk" class="btn" target="_blank">Mastodon</a>
  <a href="https://www.patreon.com/mskavanagh" class="btn" target="_blank">Patreon</a>
  <a href="https://www.smashwords.com/profile/view/paxcorpus" class="btn" target="_blank">Books</a>
  <a href="https://marketplace.secondlife.com/stores/165186" class="btn" target="_blank">Second Life</a>
  <a href="https://www.paypal.me/merylsk" class="btn" target="_blank">Donate</a>
 
</section>
