<!DOCTYPE html>
<html lang="en-us">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content" align="left">
      <h2>wat?</h2>
      <p>
        Eyeshadodw 2600 FM is a part electronic, part retro, part EDM, part industrial musical project by me, Meryl S. Kavanagh.
        Started in January 2017 and steamrolling forward, the bloodsuckers will <i>never</i> stop.
      </p>
      <p>
        Please use the navigation menu uptop if you'd like to check out what I do and support me in my endeavors.
      </p>
        {{ content }}
    </section>
    {% include page-footer.html %}
  </body>
</html>
