<!DOCTYPE html>
<html lang="en-us">
  
  <!-- Using the Head document -->
  {% include head.html %}
  
  <body>
    
  <!-- Inserts the Header -->
    {% include page-header.html %}

    <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Radio</h3>
        <script>(function (win, doc, script, source, objectName) { (win.RadionomyPlayerObject = win.RadionomyPlayerObject || []).push(objectName); win[objectName] = win[objectName] || function (k, v) { (win[objectName].parameters = win[objectName].parameters || { src: source, version: '1.1' })[k] = v; }; var js, rjs = doc.getElementsByTagName(script)[0]; js = doc.createElement(script); js.async = 1; js.src = source; rjs.parentNode.insertBefore(js, rjs); }(window, document, 'script', 'https://www.radionomy.com/js/radionomy.player.js', 'radplayer'));
radplayer('url', 'revosa24-7synthwave');
radplayer('type', 'medium');
radplayer('autoplay', '0');
radplayer('volume', '50');
radplayer('color1', '#000000');
radplayer('color2', '#ffffff');
</script>
<div class="radionomy-player"></div>
</div>
    <!-- End Sidebar -->

    <!-- Main Stuff -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
   
<section class="main-content" align="center">  
      <p align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/W-IFTVrYAs0?ecver=1" frameborder="0" allowfullscreen></iframe>
      </p>
      <p>
        Eyeshadodw 2600 FM is a part electronic, part retro, part EDM, part industrial musical project by me, Meryl S. Kavanagh.
        Started in January 2017 and steamrolling forward, the bloodsuckers will <i>never</i> stop.
      </p>
      <p>
        Please use the navigation menu uptop if you'd like to check out what I do and support me in my endeavors.
      </p>
        {{ content }}
    </section>
    
  </div>
    </div>
    <!-- End Main Stuff -->

    <!-- Inserts the Footer -->
    {% include page-footer.html %}
    
  </body>
</html>
